.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.about-body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.about-body h1 {
    font-size: 100px;
    text-align: center;
}

.about-body p {
    font-size: 25px;
}

.about-body ol {
    font-size: 25px;
}

@media (max-width: 768px) {
  .about-body h1 {
    font-size: 40px;
  }

  .about-body p,
  .about-body ol {
    font-size: 18px;
  }
}